body {
    background-color: #edefee;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    padding-bottom: 2%;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

.linkDecorator{
    text-decoration: none;
    color: inherit;
    transition: font-size 0.3s ease;
}

.linkDecorator:hover{
    font-size: 150%;
    
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}


.big-image{
    height: 70vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("images/hero.png");
    transition: transform 0.3s ease, box-shadow .3s ease;
}

.big-image:hover{
   transform: scale(1.01);
}

.overlay{
    position: absolute;
    top: 25%;
    left: 0;
    width: 40%;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
}

article {
    flex: 1;
    margin-right:10%;
    background-color: #f0f0f0;
}

.blogs{
    transition: transform 0.3s ease, box-shadow .3s ease;
    margin: 10px;
    padding: 10px;
    
}

.blogs:hover{
    transform: scale(1.1); /* Scale up by 10% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Increase shadow */
}

article > h2{
    text-align: center;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
}